hr{
	position: absolute;
	width: 884px;
	height: 0px;
	left: 278px;
	top: 1378.91px;
	border: 3px solid #E4E4E4;
	margin: -60px 0px;
}
.fl{ float: left; }
.fr{ float: right; }
#section1 h2 {
    font-weight: bold;
    color: #525252;
}
.navbar-nav { float: right; }
nav.navbar.navbar-default{
    border: 0;
    background-color: #fff;
    background-image: initial;
    box-shadow: initial;
    padding: 20px;
    margin: 0;
}
ul.nav.navbar-nav a, ul.nav.navbar-nav a:hover, ul.nav.navbar-nav a:active, ul.nav.navbar-nav a:visited {
    font-size: 16px;
    font-weight: 600;
    color: #FA4A0C;
    line-height: 4;
    text-align: center;
}
ul.nav.navbar-nav li {
    margin-right: 60px;
}
/* Slider */
#slider{
	height: 619px;
	background-image: url('../images/webp/banner.webp');
	background-repeat: no-repeat;
	background-size: cover;
}
.slider-block{
	width: 100%;
    position: relative;
    top: 60px;
}
.slider-block h2 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: bold;
	font-size: 58px;
	line-height: 80px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #FFFFFF;
}
.slider-block .text-top{
    color: #F6F6F6;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
}
.slider-block .text-bottom{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 38px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #F7F7F7;
}
.slider-buttons{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}
.btn-slider-one, .btn-slider-one:hover {
	width: 236px;
	padding: 16px 0px;
	background: #FA4A0C;
	box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
	border-radius: 30px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.1px;
	color: #FFFFFF;
	margin-right: 45px;
}
.btn-slider-two, .btn-slider-two:hover {
	width: 236px;
	padding: 16px 0px;
	background: transparent;
	border: 1px solid #fff;
	box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
	border-radius: 30px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.1px;
	color: #FFFFFF;
}
/* PHONE 1 */
#section1 img{
	width: inherit;
	height: 600px;
	object-fit: contain;
	display: flex;
	justify-content: center;
	padding: 10px;
	position: relative;
    top: -135px;
	margin: 0 auto;
}

#section2 .title{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 44px;
	line-height: 36px;
	letter-spacing: 0.1px;
	color: #000000;
	opacity: 0.8;
	margin-bottom: 45px;
}


#section2 img{
	width: inherit;
    height: 600px;
    object-fit: contain;
}
#section2 .text{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.1px;
	color: #FA4A0C;
}
#section2 h2{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 57px;
	letter-spacing: 0.2px;
	color: #252B42;
}
#section2 p{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 38px;
	letter-spacing: 0.2px;
	color: #737373;
}
#section2 .columns-flex{
	display: flex;
	align-items: center;
	padding: 40px 0px 40px 0px;
}

#section3{
	background-image: url('../images/webp/banner-footer.webp');
    background-repeat: no-repeat;
	background-size: 100%;
	height: 516px;
	margin-top: 50px;
}
#section3 .buttons{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}
#section3 h3{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 57px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #FFFFFF;
	margin-top: 135px;
}
#section3 p{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 38px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #FFFFFF;
}

.btn-one, .btn-one:hover{
	padding: 20px 30px 20px 30px;
	background: #FA4A0C;
	border-radius: 10px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.2px;
	color: #FFFFFF;
	margin-right: 20px;
}
.btn-two, .btn-two:hover{
	padding: 20px 30px 20px 30px;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.2px;
	color: #FFFFFF;
}
#footer {
	padding: 0px 0px 50px 0px;
}
#footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
#footer ul li {
	margin-right: 35px; 
}
.copy{
	font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 1px;
    color: #5C5C5C;
    margin-top: 55px;
}
.navbar-default .navbar-collapse {
    border-color: initial;
    background-color: initial;
}
/* QUERIES */

@media only screen and (min-width: 992px) and (max-width: 1326px) {
	hr {
	    width: 80%;
	    margin: 0 auto;
	    display: block;
	    left: initial;
	    top: -67px;
	    position: relative;
	}
}
@media only screen and (min-width: 521px) and (max-width: 991px) {
	#section1 img, #section2 img{ height: fit-content; }
	hr { 
		width: 99%;
		top: 1533px; 
	}	
}
@media only screen and (max-width: 991px) {	
	#section1 img, #section2 img{ height: fit-content; }
	hr{ 
		width: 98%; 
		left: 0;
		margin: -66px 0px 0px 0px;
	}
	#section1 .phone { top: 0px; }
	#slider {
	    width: 100%;
	    height: 619px;
	    background-image: initial;
	    background-color: #FFF;
	}
	.slider-block h2 {
	    font-size: 30px;
	    color: #252B42;
	    line-height: 43px;
	}
	.slider-block .text-top{
	    color: #737373;
	    font-size: 16px;
	}
	.slider-block .text-bottom{
		color: #737373;
	}

	.slider-buttons {
	    display: block;
	    flex-direction: initial;
	    justify-content: initial;
	}
	
	.btn-slider-one {
		display: block;
		margin: 0 auto;
		margin-bottom: 25px;
	}
	.btn-slider-two {
		border: 1px solid #FA4A0C;
		color: #FA4A0C;
		margin: 0 auto;
		display: block;
	}
	#section2 h2 {
	    margin: 35px 0px 30px 0px;
	    text-align: center;
	}
	#section2 .title{
		font-size: 24px;
		margin-top: 65px;
		margin-bottom: 120px;
	}
	#section2 .columns-flex { padding: 25px 0px 40px 0px; }
	#section2 .text, #section2 p{ text-align: center; }
	.fl, .fr{ float: initial; }

	#section3{
		background-image: initial;
	    background-repeat: initial;
		background-size: initial;
	    background-color: #252B42;
		height: 625px;
		margin-top: 50px;
	}
	#section3 .buttons{ 
	    display: flex;
	    flex-direction: row;
	    justify-content: center;
	    margin-top: 60px;
	}
	.copy { text-align: center; }


	ul.nav.navbar-nav { margin: 0; }
	ul.nav.navbar-nav li a, ul.nav.navbar-nav li a:active, ul.nav.navbar-nav li a:hover {
	    padding: 0;
	    margin: 0;
	    line-height: 2;
	    float: left;
	    text-align: left;
	    width: 100%;
	    color: #FFF !important;
	}
	.navbar-nav {
		width: 100%;
	    float: left;
	    background-color: #ff8625;
	    padding: 10px;
		color: #FFF;
	}
	.navbar-collapse { border-top: initial; }
}
