<!DOCTYPE html>
<html lang="pt">
<head>
	<title>Bella Onojie - Delivery</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="https://aleffelipe.dev/teste-din-digital/">
	<link rel="icon" type="image/png" href="src/images/webp/favicon.webp" />
	<link rel="preload" as="style" onload="this.rel='stylesheet'" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="preload" as="style" onload="this.rel='stylesheet'" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Montserrat&Poppins' rel='preload' as="style" onload="this.rel='stylesheet'">
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="preload" as="style" onload="this.rel='stylesheet'">
	<link href="src/css/main.min.css" rel="preload" as="style" onload="this.rel='stylesheet'">
</head>
<body ng-app="delivery">

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	    <a href="#">
	      	<img src="src/images/webp/logo.webp" alt="Bella Onojie - Delivery" width="206" height="102" />
	    </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="#">Fac</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

    </div>
  </div>
</nav>

<section id="slider">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="slider-block">
					<p class="text-top">Food app</p>
					<h2>Why stay hungry when you can order form Bella Onojie</h2>
					<p class="text-bottom">Download the bella onoje&rsquo;s food app now on</p>
					<div class="slider-buttons">
						<a href="#" class="btn btn-slider-one">
							Playstore
						</a>
						<a href="#" class="btn btn-slider-two">
							App store
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="section1">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<img src="src/images/webp/phone1.webp" alt="Delicious food for you" width="600" height="600" />
			</div>
		</div>
	</div>
</section>

<hr />

<section id="section2">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12" ng-controller="listController">
				<h2 class="title text-center">How the app works</h2>
				<div class="row columns-flex" ng-repeat="list in items">
					<div ng-if="list.id % 2 == 0">
						<div class="col-xs-12 col-sm-12 col-md-6">
							<h4 class="text">{{ list.subtitle }}</h4>
							<h2>{{ list.title }}</h2>
							<p>{{ list.description }}</p>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6">
							<img ng-src="{{ list.image }}" class="fr" alt="Delicious food for you" width="325" height="502" />
						</div>
					</div>
					<div ng-if="list.id % 2">
						<div class="hidden-xs hidden-sm col-xs-12 col-sm-12 col-md-6">
							<img ng-src="{{ list.image }}" class="fl" alt="Delicious food for you" width="325" height="502" />
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6">
							<h4 class="text">{{ list.subtitle }}</h4>
							<h2>{{ list.title }}</h2>
							<p>{{ list.description }}</p>
						</div>
						<div class="hidden-md hidden-lg col-xs-12 col-sm-12 col-md-6">
							<img ng-src="{{ list.image }}" class="fl" alt="Delicious food for you" width="325" height="502" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="section3">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<h3>Download the app now.</h3>
				<p>Available on your favorite store. Start your premium experience now</p>
				<div class="buttons">
					<a href="#" class="btn btn-one">
						Playstore
					</a>
					<a href="#" class="btn btn-two">
						App store
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="footer">
	<div class="container">
		<div class="row">
			<div class="hidden-xs hidden-sm col-sm-12 col-md-4 text-center">
				<img src="src/images/webp/logo.webp" alt="Bella Onojie - Delivery" width="206" height="102" />
			</div>
			<div class="col-sm-12 col-md-4 text-center">
				<ul>
					<li>
						<img src="src/images/webp/twitter.webp" alt="Twitter" width="35" height="28" />
					</li>
					<li>
						<img src="src/images/webp/facebook.webp" alt="Facebook" width="35" height="28" />
					</li>
					<li>
						<img src="src/images/webp/linkedin.webp" alt="Linkedin" width="35" height="28" />
					</li>
				</ul>
			</div>
			<div class="col-sm-12 col-md-4 text-center">
				<p class="copy">Copywright 2020 Bella Onojie.com</p>
			</div>		
		</div>
	</div>
</section>

<script async src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script async src="src/js/main.min.js"></script>
<script async src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>
<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>